<header>
    <main>
        <h1>silkdev team</h1>
        <p>You find below a list of awesome people who contributed to one or more of our open source projects</p>

        <div id="searchElement">
            <input type="text" placeholder="Look yourself up!">
            <button>SEARCH</button>
        </div>
    </main>
</header>