<div class="userCard">
    <div class="userAvatar">
        <img
            src="https://avatars.githubusercontent.com/u/49798649"
            alt="userAvatar"
        />
    </div>
    <h3 class="userUserName">AymKh</h3>
</div>

<style>
    .userCard {
        width: 100%;
        background-color: var(--bg-color-2);
        border: 1px solid var(--border-color-2);
        border-radius: 0.5rem;
        overflow: hidden;
    }

    .userAvatar {
        width: 100%;
        padding: 1rem 0;
        text-align: center;
    }

    .userAvatar img {
        width: 100px;
        border-radius: 50%;
        margin: 0 auto;
    }

    .userUserName {
        text-align: center;
        padding: 1rem 0;
        font-size: 1.5rem;
        font-weight: 200;
        color: var(--text-color-1);
    }
</style>
